*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #000;
}

.container
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main 
{
    width: 50vh;
    height: 50vh;
    margin: 0 auto;  
    display: flex;
    flex-wrap: wrap;
    border-radius: 50%;
    overflow: hidden;
}

.color
{
    width: 50%;
    height: 50%;
}

.click
{
    opacity: 0.7;
}


#green
{
    background-color: #00ff00;  
}

#green:active
{
    opacity: 0.7;
    box-shadow: -20px -20px 20px 20px #00ff00;
}

.shadow-green
{
    box-shadow: -20px -20px 20px 20px #00ff00;
}

#red
{
    background-color: #ff0000; 
}

#red:active
{
    opacity: 0.7;
    box-shadow: 20px -20px 20px 20px #ff0000;
}

.shadow-red
{
    box-shadow: 20px -20px 20px 20px #ff0000;
}

#yellow
{
    background-color: #ffff00;
}

#yellow:active
{
    opacity: 0.7;
    box-shadow: -20px 20px 20px 20px #ffff00;
}

.shadow-yellow
{
    box-shadow: -20px 20px 20px 20px #ffff00;
}

#blue
{
    background-color: #0000ff;    
}

#blue:active
{
    opacity: 0.7;
    box-shadow: 20px 20px 20px 20px #0000ff;
}

.shadow-blue
{
    box-shadow: 20px 20px 20px 20px #0000ff;
}